body{
  font-family: arial, sans-serif;
}

#title{
  text-align: center;
}

#description{
  text-align: center;
}

#survey-form{
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "label1 answer1 picture1"
    "label2 answer2 ."
    "label3 answer3 picture2"
    "label4 answer4 ."
    "label5 answer5 picture3"
    "label6 answer6 ."
    ". comments ."
    ". submit ."
    
}

.labels{
  justify-self: end;
}

.answer-fields{
  justify-self: center;
}

#name-label{
  grid-area: label1;
}
#name{
  grid-area: answer1;
}
#email-label{
  grid-area: label2;
}
#email{
  grid-area: answer2;
}
#number-label{
  grid-area: label3;
}
#number{
  grid-area: answer3;
}
#dropdown-label{
  grid-area: label4;
}
#dropdown{
  grid-area: answer4;
}
#radio-label{
  grid-area: label5;
}
#radio-answers{
  grid-area: answer5;
}
#checkbox-label{
  grid-area: label6;
}
#checkbox-answers{
  grid-area: answer6;
}
#additional-comments{
  grid-area:comments;
}
#submit-button{
  grid-area: submit;
  justify-self: center;
}