body{
  text-align: center;
  background-color: #edeae0;
}
img{
  display: block;
  max-width: 400px;
  height: auto;
  margin: auto;
}
blockquote{
  font-style: italic;
}
ul{
  max-width: 500px;
  margin: 0 auto;
}

#main{
  font-family: Hind Madurai, sans-serif;
  font-size: 20px;
  
}
#title{
  margin: 20px;
  
}
#img-caption{
  font-size: 14px;
}
#accomplishments{
  font-size: 18px;
  text-align: left;
  padding: 25px;
}

